.buttonPrimary {
    padding: 12px 48px;
    border: none;
    border-radius: 8px;

    background: #079DC7;

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    cursor: pointer;
}

.buttonGhost {
    padding: 12px 48px;
    border: none;
    border-radius: 8px;

    background: #BDE9FF;

    color: #0081A5;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    cursor: pointer;
}
